@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(30deg, rgb(75, 0, 0), rgb(83, 59, 15));

}
/* button {
  background-color: rgb(163, 108, 7);
  color: #fff;
  font-weight: bold;
  border: none;
  transition: 0.2s ease-in-out;
}

button:hover {
  color: yellow;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
button:active {
  background-color: darkred;
} */


.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-style: large;
  }
  .navbar {
    background-color: rgb(163, 108, 7);
  }
  .search{
    display: flex;
    justify-content: end;
    flex-wrap:wrap ;
    gap: 30px;
  }


  .card-img-top {
    width: 50%;
    height: 40vh;
  }



  #span {
    color: rgb(89, 43, 255);
    background-color: rgb(193, 255, 94);
    border-radius: 7px;
    font-size: 30px;
  }

  #in-search{
padding: 5px;
border: 1px solid black;
border-radius: 15px;
width: 250px;
  }
  #btn-search{
border: 1px solid black;
    border-radius: 15px;
    width: 100px;
    background-color: rgb(163, 108, 7);
    color: #fff;

  }

  #btn-search:hover {
    color: yellow;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
#card-container {
  color:rgb(48, 0, 48) ;
  border: 6px groove rgb(0, 0, 255);
  background-color: rgb(199, 199, 199);
}


#card-btn {
  background-color: rgb(3, 3, 116);
  color: rgb(252, 252, 252);
  transition: 0.2s ease-in-out;
}

#card-btn:hover {
  cursor: pointer;
  color: rgb(0, 255, 21);
  transition: 0.2s ease-in-out;
}